@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.colorBox {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.buttons {
  position: absolute;
  width: 250px;
  bottom: 30px;
  text-align: center;
  left:calc(50% - 125px);
  padding: 10px;
  border-radius: 3rem;
  background-color: white;
}

.buttons button {
  padding: 5px;
  border-radius: 3rem;
  width: 70px;
  text-align: center;
}

.buttons button:nth-child(2) {
  margin: 0 10px;
}